@import 'mixin';

.sub-visual{
  background-color: #ccc;
  >div{
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .textbox{
      position: relative;
      text-align: center;
      z-index: 1;
      h6{
        margin-bottom: 10px;
        font-size: 2.5em;
        font-weight: 900;
        color: #fff;
        letter-spacing: 0.08em;
        @include icon-font(before,'\f10d');
        @include icon-font(after,'\f10e');
        &::before,&::after{font-size: 0.5em;transform: translateY(-20px);}
      }
      p{
        max-width: 300px;
        font-weight: 600;
        color: rgba(#fff,.7);
      }
    }
    img{
      position: absolute;
      left: 0;top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      filter: brightness(60%);
    }
  }
  @media screen and (min-width:900px){
    height: 300px;
  }
  @media screen and (max-width:900px){
    height: 200px;
  }
}

.snb{
  height: 50px;
  background-color: #eee;
  >ul{
    height: inherit;
    >li{
      height: inherit;
      >a{display: none;}//1dep a
      >ul{
        height: inherit;
        display: flex;
        justify-content: center;
        >li{
          flex:1;
          max-width: 200px;
          margin: 0 1px;
          a{
            height: 100%;
            display: block;
            text-align: center;
            line-height: 50px;
            background-color: #333;
            color: #fff;
            &.active{
              background-color: var(--main-color);
            }
          }
        }//2dep li
      }//2dep ul
    }//1dep li
  }//1dep ul
}//snb