@import 'mixin';

.sub-visual{
  position: relative;
  background-color: #ccc;
  >div{
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .textbox{
      position: relative;
      text-align: center;
      z-index: 1;
      h6{
        margin-bottom: 10px;
        font-size: 2.5em;
        font-weight: 900;
        color: rgba(#fff,.8);
        letter-spacing: 0.08em;
        @include icon-font(before,'\f10d');
        @include icon-font(after,'\f10e');
        &::before,&::after{font-size: 0.5em;transform: translateY(-20px);}
      }
      p{
        max-width: 300px;
        font-weight: 600;
        color: rgba(#fff,.6);
      }
    }
    img{
      position: absolute;
      left: 0;top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      filter: brightness(60%);
    }
  }
  @media screen and (min-width:900px){
    height: 300px;
  }
  @media screen and (max-width:900px){
    height: 200px;
  }
  #particles-js{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    mix-blend-mode: overlay;
  }
}//sub visual
/* sub visual motion */
.sub-visual{
  >div{
    overflow: hidden;
    .textbox{
      h6{
        animation: h6-pos 2s;//2s는 지속시간, 2s는 딜레이시간
      } 
      p{
        animation: p-pos 2s;
      }
    }
    img{
      animation: img-size 20s linear;
    }
  }
}//sub visual
@keyframes img-size{
  0%{
    transform: scale(1.5);
    filter: brightness(50%);
  }
  100%{
    transform: scale(1);
    filter: brightness(80%);
  }
}//keyframes
@keyframes h6-pos{
  0%{
    opacity: 0;
    transform: translateY(-50px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes p-pos{
  0%{
    opacity: 0;
    transform: translateY(50px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}
.snb{
  height: 50px;
  background-color: #eee;
  >ul{
    height: inherit;
    >li{
      height: inherit;
      >a{display: none;}//1dep a
      >ul{
        height: inherit;
        display: flex;
        justify-content: center;
        >li{
          flex:1;
          max-width: 200px;
          margin: 0 1px;
          a{
            height: 100%;
            display: block;
            text-align: center;
            line-height: 50px;
            background-color: #333;
            color: #fff;
            &.active{
              background-color: var(--main-color);
            }
          }
        }//2dep li
      }//2dep ul
    }//1dep li
  }//1dep ul
}//snb

main.sub-content{
  padding: 70px 0;
  overflow: hidden;
  @include center-width;
  .sub-title{
    font-size: 2em;
    font-weight: 900;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
    &::before{
      content:'';
      display: block;
      width: 60px;
      height: 3px;
      margin: 0 auto;
      background-color: var(--main-color);
    }
  }
  .sub-summary{
    margin-bottom: 50px;
    text-align: center;
    span{
      position: relative;
      display: inline-block;
      padding: 10px 20px;
      em{
        display: block;
        font-size: 1.2em;
        font-weight: 600;
        color: var(--main-color);
        margin-bottom: 5px;
      }
      b{
        display: block;
        font-weight: 600;
        color: #333;
      }
      &::after,&::before{
        content: '';
        position: absolute;
        width: 10px;
        height: 100%;
        border: 2px solid var(--main-color);
        top: 0;
      }
      &::after{
        right: 0;
        border-left: none;
      }
      &::before{
        left: 0;
        border-right: none;
      }
    }//span
  }//sub summary
  table.board{
    width: 80%;
    margin: 0 auto;
    border-top: 2px solid #333;
    @media screen and (max-width:600px) {
      width: 100%;
      margin: 0;
    }
    tr{
      border-bottom: 1px solid #ccc;
      th,td{
        padding: 5px;
        text-align: center;
        @media screen and (max-width:800px) {
          &:nth-child(2)~ *{display: none;}
        }
      }
      th{
        background-color: #eee;
        color: #333;
      }
      td{
        &:nth-child(1){width: 50px;}
        &:nth-child(2){text-align: left;}
        &:nth-child(3){width: 100px;}
        &:nth-child(4){width: 150px;}
        &:nth-child(5){width: 50px;}
      }
    }
  }//board
  form.board-search{
    width: 80%;
    margin: 20px auto;
    padding: 15px 5px;
    box-sizing: border-box;
    text-align: center;
    background-color: #eee;
    border:1px solid #ddd;
    @media screen and (max-width:600px) {
      width: 100%;
      margin: 20px 0;
    }
    select,input,button{
      height: 25px;
      padding: 0 7px;
      margin: 0 3px;
      vertical-align: middle;
    }
    select,button{
      background-color: #333;
      color: #fff;
    }
    button{
      padding: 0 20px;
      &:hover{
        background-color: var(--main-color);
        color: #fff;
      }
    }
    input{
      color: #333;
    }
  }
}//main

/* main motion */
main.sub-content{
  h2.sub-title{animation: sub-title 2s;}
  p.sub-summary{
    em{animation:sub-summary-em 2s;}
    b{animation:sub-summary-b 2s;}
  }
  section{animation:sub-section 2s;}
}//main
@keyframes sub-title{
  0%{
    opacity: 0;
    transform: translateY(-50px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes sub-summary-em{
  0%{
    opacity: 0;
    transform: translateX(-100px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes sub-summary-b{
  0%{
    opacity: 0;
    transform: translateX(100px);
  }
  100%{
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes sub-section{
  0%{
    opacity: 0;
    transform: translateY(50px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}